.myBtn {
    padding: 0 30px;
    font-size: 30px;
    background-color: white;
    outline: none;
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #0047FF;
    color: white;
    cursor: pointer;
}