* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    user-select: none;
}

body {
    padding: 30px 0;
    width: 100vw;
    background-image: linear-gradient(90deg, #0047FF, #0094FF);
}

.todo__body {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todo__add {
    background-color: #00eeff73;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.todo__input {
    padding: 20px 10px;
    flex: 1 1 auto;
    background-color: transparent;
    font-size: 26px;
    outline: 0;
    border: 0;

    &:focus {
        color: rgba(0, 0, 0, 1);
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.6);
    }
}

.todo__button {
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
    outline: 0;
    font-size: 26px;
    padding: 0 40px;
    border-radius: 10px;
    color: white;
}

.todo__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo__item {
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 20px 20px;
}

.todo__item.line {
    .item__left {
        text-decoration: line-through;
        text-decoration-color: rgb(0, 255, 0);
        color: rgb(0, 255, 0);
    }
}

.item__left {
    cursor: pointer;
    font-size: 26px;
    color: white;
}

.item__left.active {
    text-decoration: line-through;
    color: #3b72ff;
}

.item__right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
    font-size: 26px;
}

.item__delete {
    cursor: pointer;
}