.todo {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    align-items: center;
    padding: 0 0 0 10px;
    color: white;
    cursor: pointer;
}

.right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete {
    background-color: #0047FF;
    padding: 10px 20px;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}