.myInput {
    flex: 1 1 auto;
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgba($color: #0047FF, $alpha: 0.4);
    border: 3px solid white;
    outline: none;
    color: white;
    border-radius: 10px;
}

.myInput:focus {
    background-color: #0047FF;
}

.myInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
}